<%- include('layouts/htmlhead.ejs') %>
<link rel="stylesheet" href="/admin/css/coupons.css">
<body class="app">
    <header class="app-header fixed-top">
        <%- include('layouts/topnav.ejs') %>
		<%- include('layouts/sidepanel.ejs') %>
    </header>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <h1 class="app-page-title">Coupons Management</h1>
                <div class="row gy-4">
                    <button class="addCouponButton" onclick="window.location.href='/admin/addCoupon'">Add Coupon</button>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Coupon Code</th>
                                    <th>Min Amount</th>
                                    <th>Max Amount</th>
                                    <th>Discount</th>
                                    <th>Delete</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% coupons.forEach(function(coupon) { %>
                                <tr>
                                    <td><%= coupon.couponCode %></td>
                                    <td><%= coupon.minAmount %></td>
                                    <td><%= coupon.maxAmount %></td>
                                    <td><%= coupon.discount %></td>
                                    <td><a href="/admin/deleteCoupon/<%= coupon._id %>">Delete</a></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--//row-->
        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Javascript -->          
    <script src="/admin/assets/plugins/popper.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <!-- Page Specific JS -->
    <script src="/admin/assets/js/app.js"></script>

</body>
