<%- include('layouts/htmlhead.ejs') %>
<body class="app">
    <header class="app-header fixed-top">
        <%- include('layouts/topnav.ejs') %>
		<%- include('layouts/sidepanel.ejs') %>
    </header>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <h1 class="app-page-title">Order Management</h1>
                <div class="row gy-4">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>User Id</th>
                                    <th>Items</th>
                                    <th>Price</th>
                                    <th>OrderDate</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(function(order) { %>
                                <tr>
                                    <td><a href="/admin/order/<%= order._id %>"><%= order._id %></a></td>
                                    <td><%= order.userId %></td>
                                    <td><%= order.products.length %></td>
                                    <td><%= order.discountedPrice %></td>
                                    <td><%= new Date(order.orderDate).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                                    <td><%= order.deliveryStatus %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--//row-->
        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Javascript -->          
    <script src="/admin/assets/plugins/popper.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <!-- Page Specific JS -->
    <script src="/admin/assets/js/app.js"></script> 
    <script src="/admin/js/users.js"></script>
</body>
