<%- include('layouts/htmlhead.ejs') %>
<link rel="stylesheet" href="/admin/css/products.css">
<body class="app">
    <header class="app-header fixed-top">
        <%- include('layouts/topnav.ejs') %>
		<%- include('layouts/sidepanel.ejs') %>
    </header>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <h1 class="app-page-title">Product Management</h1>
                <div class="row gy-4">
                    <button class="addProductButton" onclick="window.location.href='/admin/addProduct'">Add Product</button>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Old Price</th>
                                    <th>New Price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Edit Product</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product) { %>
                                <tr>
                                    <td><a href="/admin/productDetails/<%= product._id %>"><%= product.productName %></a></td>
                                    <td><%= product.oldPrice %></td>
                                    <td><%= product.newPrice %></td>
                                    <td><%= product.stock %></td>
                                    <td><%= product.category %></td>
                                    <td><%= product.subCategory %></td>
                                    <td><a href="/admin/editProduct/<%= product._id %>">Edit</a></td>
                                    <td style="text-align: center;"><a href="<%= product._id %>">
                                    <% if(product.bannedProduct==1){ %>
                                        <svg fill="red" width="1.5em" height="1.5em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
                                    <% }else{ %>
                                        <svg fill="green" width="1.5em" height="1.5em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
                                    <% } %>
                                    </a></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--//row-->
        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Javascript -->          
    <script src="/admin/assets/plugins/popper.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <!-- Page Specific JS -->
    <script src="/admin/assets/js/app.js"></script>
    <script src="/admin/js/products.js"></script>

</body>
