<!DOCTYPE html>
<html class="no-js" lang="en">

    <%- include('layouts/head.ejs') %>

<body class="config" style="background-color: rgba(229,233,234);">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/images/PurePicksIcon.ico" alt="loading"></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <%- include('layouts/topNav.ejs') %>
        <!--====== End - Main Header ======-->

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="is-marked">

                                        <a href="/account">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->

            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">

                                <%- include('layouts/accountFeatures.ejs') %>

                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash__address-header">
                                                <h1 class="dash__h1">Address Book</h1>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% if(addresses.length>0){ %>
                                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                            <div class="dash__table-2-wrap gl-scroll">
                                                <table class="dash__table-2">
                                                    <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Full Name</th>
                                                            <th>Address</th>
                                                            <th>Region</th>
                                                            <th>Phone Number</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% addresses.forEach(address=>{ %>
                                                            <tr>
                                                                <td>

                                                                    <a class="address-book-edit btn--e-transparent-platinum-b-2 delete-address" href="/deleteAddress/<%= address._id %>">Delete</a></td>
                                                                <td><%= address.fName %> <%= address.lName %></td>
                                                                <td><%= address.streetAddress %> <%= address.city %> <%= address.state %> <%= address.pin %></td>
                                                                <td><%= address.country %></td>
                                                                <td><%= address.number %></td>
                                                                
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <% }else{ %>
                                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30" style="display: flex; align-items: center; justify-content: center;">
                                            <h1 style="color: rgb(252,88,28);">EMPTY</h1>
                                        </div>
                                    <%}%>
                                    <div>

                                        <a class="dash__custom-link btn--e-brand-b-2" href="/addAddress"><i class="fas fa-plus u-s-m-r-8"></i>

                                            <span>Add New Address</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
        
        <!--====== Main Footer ======-->
        <%- include('layouts/footer.ejs') %>
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/client/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/client/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/client/js/app.js"></script>
    <script>
        const deleteAddressLinks = document.querySelectorAll(".delete-address");
    
        deleteAddressLinks.forEach(deleteAddress => {
            deleteAddress.addEventListener("click", (event) => {
                event.preventDefault(); 
    
                Swal.fire({
                    title: "Are you sure?",
                    text: "You're Deleting This Address!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Address Deleted Successfully.",
                            icon: "success"
                        }).then(() => {
                            window.location.href = deleteAddress.href;
                        });
                    }
                });
            });
        });
    </script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>