<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('layouts/head.ejs') %>

<body class="config"  style="background-color: rgba(229,233,234);">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/images/PurePicksIcon.ico" alt="loading"></div> <!--loading img-->
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <%- include('layouts/topNav.ejs') %>


        <!--====== App Content ======-->
        <div class="app-content">
            <% if(banner){ %> 
                <!--====== Primary Slider ======-->
                <div class="s-skeleton s-skeleton--h-640 s-skeleton--bg-grey">
                    <div class="owl-carousel primary-style-3" id="hero-slider">
                    
                        <% banner.forEach(function(banner){ %>
                        
                        <div class="hero-slide" style="background-image: url(<%=banner.bannerImagePath%>); color: <%= banner.titleColor %>;">
                            <div class="primary-style-3-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="slider-content slider-content--animation">
                                            
                                                <span class="content-span-1 "><%=banner.title1%></span>
                                            
                                                <span class="content-span-2 "><%=banner.title2%></span>
                                            
                                                <span class="content-span-3 "><%=banner.title3%></span>
                                            
                                                <span class="content-span-4 "><%=banner.title4%>
                                                
                                                    <span  style="color: <%=banner.priceColor%>">₹<%=banner.price%></span></span>
                                                
                                                <a style="background-color: <%=banner.priceColor%>; color: <%= banner.titleColor %>;" class="shop-now-link" href="<%=banner.targetUrl%>">SHOP NOW</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <% }) %>
                        
                    </div>
                </div>
            <% } %>
            <!--====== End - Primary Slider ======-->


            <!--====== Section 1 ======-->
            <% if(category){ %> 

            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">

                            <% category.forEach(function(category){ %>

                            <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="promotion-o">
                                    <div class="aspect aspect--bg-grey aspect--square">

                                        <img class="aspect__img" src="<%= category.categoryImagePath%>" alt=""></div>
                                    <div class="promotion-o__content">

                                        <a class="promotion-o__link btn--e-white-brand" href=""><%= category.categoryName%></a></div>
                                </div>
                            </div>
                            
                            <% }) %>
                            
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>

            <% } %>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46" id="newArrivals">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">RECENT PRODUCTS</h1>

                                    <span class="section__span u-c-silver">NEWLY ADDED PRODUCTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">

                            <% recentProducts.forEach(rProduct => { %>

                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="product-r u-h-100">
                                    <div class="product-r__container">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/product/<%=rProduct._id%>">

                                            <img class="aspect__img" src="<%= rProduct.productImagePath[3]%>" alt=""></a>
                                        <div class="product-r__action-wrap">
                                            <ul class="product-r__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick<%= rProduct._id%>"><i class="fas fa-search-plus"></i></a></li>
                                                <% if(user){ %>
                                                    <li>

                                                        <a class="cartAdd" href="<%= rProduct._id%>" data-modal="modal" data-modal-id="#cart<%= rProduct._id%>"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a class="wishlistAdd" href="<%= rProduct._id%>"><i class="fas fa-heart"></i></a></li>
                                                <% } else { %>
                                                    <li>

                                                        <a href="/login"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="/login"><i class="fas fa-heart"></i></a></li>

                                                <% } %>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-r__info-wrap">

                                        <span class="product-r__category">

                                            <a href="shop-side-version-2.html"><%= rProduct.category%> <%= rProduct.subCategory%></a></span>
                                        <div class="product-r__n-p-wrap">

                                            <span class="product-r__name">

                                                <a href="/product/<%=rProduct._id%>"><%= rProduct.productName%></a></span>

                                            <span class="product-r__price">₹<%= rProduct.newPrice%></span></div>

                                        <span class="product-r__description"><%= rProduct.productDescription%></span>
                                    </div>
                                </div>
                            </div>
                            
                            <% }); %>

                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->


            <!--====== Section 4 ======-->
            <div class="u-s-p-b-60" id="valueOfTheDay">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-16">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">BEST SELLING PRODUCT</h1>

                                    <span class="section__span u-c-silver u-s-m-b-16">FIND PRODUCTS THAT ARE MOST SELLING</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="filter-category-container">
                                    <div class="filter__category-wrapper">

                                        <button class="btn filter__btn filter__btn--style-2 js-checked" type="button" data-filter="*">ALL</button></div>

                                <% category.forEach(function(category){ %>
                                    
                                    <div class="filter__category-wrapper">

                                        <button class="btn filter__btn filter__btn--style-2" type="button" data-filter=".<%= category.categoryName%>"><%= category.categoryName%></button></div>

                                <% }) %>

                                </div>
                                <div class="filter__grid-wrapper u-s-m-t-30">
                                    <div class="row">

                                    <% products.forEach(function(product){ %>

                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item <%=product.category%>">
                                            <div class="product-bs">
                                                <div class="product-bs__container">
                                                    <div class="product-bs__wrap">

                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/product/<%=product._id%>">

                                                            <img class="aspect__img" src="<%=product.productImagePath[4]%>" alt=""></a>
                                                        <div class="product-bs__action-wrap">
                                                            <ul class="product-bs__action-list">
                                                                <li>

                                                                    <a data-modal="modal" data-modal-id="#quick<%=product._id%>"><i class="fas fa-search-plus"></i></a></li>

                                                                    <% if(user){ %>
                                                                        <li>

                                                                            <a class="cartAdd" href="<%= product._id%>" data-modal="modal" data-modal-id="#cart<%=product._id%>"><i class="fas fa-plus-circle"></i></a></li>
                                                                        <li>
        
                                                                            <a class="wishlistAdd" href="<%=product._id%>"><i class="fas fa-heart"></i></a></li>
                                                                    <% } else { %>
                                                                        <li>
                    
                                                                            <a href="/login"><i class="fas fa-plus-circle"></i></a></li>
                                                                        <li>
                    
                                                                            <a href="/login"><i class="fas fa-heart"></i></a></li>
                    
                                                                    <% } %>
                                                                
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <span class="product-bs__category">

                                                        <a href="shop-side-version-2.html"><%=product.category%> <%=product.subCategory%></a></span>

                                                    <span class="product-bs__name">

                                                        <a href="/product/<%=product._id%>"><%=product.productName%></a></span>
                                                    <div class="product-bs__rating gl-rating-style">

                                                        <% let j=product.rating %>
                                                        <% for(let i=1; i<=j ; i++){ %>
                                                            <i class="fas fa-star"></i>
                                                        <%}%>
                                                            
                                                        

                                                        <span class="product-bs__review">(23)</span></div>

                                                    <span class="product-bs__price">₹<%=product.newPrice%>.00

                                                        <span class="product-bs__discount">₹<%=product.oldPrice%>.00</span></span>
                                                </div>
                                            </div>
                                        </div>

                                    <% }) %>

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="load-more">

                                    <button class="btn btn--e-brand" type="button">Load More</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 4 ======-->


            <!--====== Section 5 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">PURE PICKS</h1>

                                    <span class="section__span u-c-silver">RECENTLY OUR OWN PRODUCTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">

                            <% recentOurProducts.forEach(roProduct => { %>

                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="product-short u-h-100">
                                    <div class="product-short__container">
                                        <div class="product-short__img-wrap">

                                            <a class="aspect aspect--bg-grey-fb aspect--square u-d-block" href="/product/<%=roProduct._id%>">

                                                <img class="aspect__img product-short__img" src="<%= roProduct.productImagePath[3]%>" alt=""></a></div>
                                        <div class="product-short__info">

                                            <span class="product-short__price">₹<%= roProduct.newPrice%></span>

                                            <span class="product-short__name">

                                                <a href="/product/<%=roProduct._id%>"><%= roProduct.productName%></a></span>

                                            <span class="product-short__category">

                                                <a href="shop-side-version-2.html"><%= roProduct.category%> <%= roProduct.subCategory%></a></span></div>
                                    </div>
                                </div>
                            </div>

                            <% }); %>

                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 5 ======-->


            <!--====== Section 6 ======-->
            
            <!--====== End - Section 6 ======-->


            <!--====== Section 7 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">

                        <!--====== Brand Slider ======-->
                        
                        <!--====== End - Brand Slider ======-->
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 7 ======-->
        </div>
        <!--====== End - App Content ======-->


        <%- include('layouts/footer.ejs') %>

        

        <!--====== Modal Section ======-->


        <%- include('layouts/quicklook.ejs') %>

        <%- include('layouts/addCart.ejs') %>


        <!--====== End - Newsletter Subscribe Modal ======-->
        <!--====== End - Modal Section ======-->
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/client/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/client/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/client/js/app.js"></script>

    <script src="/client/js/home.js"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>