<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('layouts/head.ejs') %>

<body class="config"style="background-color: rgba(242,242,242);">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/images/PurePicksIcon.ico" alt="loading"></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <%- include('layouts/topNav.ejs') %>
        <!--====== End - Main Header ======-->



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-t-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Breadcrumb ======-->
                            <div class="pd-breadcrumb u-s-m-b-30">
                                <ul class="pd-breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="has-separator">

                                        <a href=""><%= product.category%></a></li>
                                    <li class="has-separator">

                                        <a href=""><%= product.subCategory%></a></li>
                                    <li class="is-marked">

                                        <a href=""><%= product.productName%></a></li>
                                </ul>
                            </div>
                            <!--====== End - Product Breadcrumb ======-->


                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">

                                        <% for(let i=0 ; i< 5 ; i++){ %>
                                            <div class="pd-o-img-wrap" data-src="<%= product.productImagePath[i]%>">

                                                <img class="u-img-fluid" src="<%= product.productImagePath[i]%>" data-zoom-image="<%= product.productImagePath[i]%>" alt=""></div>
                                        <% } %>
                                        
                                    </div>

                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">

                                            <% for(let i=0 ; i< 5 ; i++){ %>
                                            <div>

                                                <img class="u-img-fluid" src="<%= product.productImagePath[i]%>" alt=""></div>

                                            <% } %>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail" style="background-color: white; padding: 10px; border-radius: 5px;">
                                <div>

                                    <span class="pd-detail__name"><%= product.productName%></span></div>
                                <div>
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__price">₹<%=product.newPrice%></span>

                                        <del class="pd-detail__del">₹<%=product.oldPrice%></del></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style">
                                        <% let j=product.rating %>
                                                    <% for(let i=1; i<=j ; i++){ %>
                                                        <i class="fas fa-star"></i>
                                                    <%}%>
                                        <% if(reviews.length >0){ %>
                                            <span class="pd-detail__review u-s-m-l-4">

                                                <a data-click-scroll="#view-review"><%= reviews.length %> Reviews</a></span></div>
                                        <% } %>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        

                                        <span class="pd-detail__left">only <%=product.stock%> left</span></div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc"><%=product.productDescription%></span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>
                                            <% if(user) { %>
                                                <a class="wishlistAdd" href="<%=product._id%>">Add to Wishlist</a>
                                            <% }else{ %>
                                                <a class="not-user" href="/login">Add to Wishlist</a>
                                            <% } %>

                                            
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        
                                    </ul>
                                </div>
                                <div class="u-s-m-b-15">
                                    <form class="pd-detail__form">
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">

                                                <!--====== Input Counter ======-->
                                                
                                                <!--====== End - Input Counter ======-->
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <% if(user) { %>
                                                    <a class="btn btn--e-brand-b-2 cartAdd" href="<%=product._id%>" data-modal="modal" data-modal-id="#cart<%=product._id%>">Add to Cart</a>
                                                <% }else{ %>
                                                    <a class="btn btn--e-brand-b-2 not-user" href="/login" >Add to Cart</a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Buyer Protection.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="u-s-p-y-90" style="background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">

                                            <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
                                        
                                        <li class="nav-item">

                                            <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEW(S)
                                                <% if(reviews.length >0){ %>
                                                    <span>(<%= reviews.length %>)</span>
                                                <% } %>
                                            </a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane fade show active" id="pd-desc">
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-15">
                                                <p><%=product.productDescription%></p>
                                            </div>
                                            
                                            <div class="u-s-m-b-30">
                                                <ul>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Buyer Protection.</span></li>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Full Refund if you don't receive your order.</span></li>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Returns accepted if product not as described.</span></li>
                                                </ul>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <h4>PRODUCT INFORMATION</h4>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <div class="pd-table gl-scroll">
                                                    <% if(product.brand || product.color || product.size){ %>

                                                    
                                                    <table>
                                                        <tbody>
                                                            <% if(product.brand){ %>
                                                                <tr>
                                                                    <td>Brand : </td>
                                                                    <td><%= product.brand%></td>
                                                                </tr>
                                                            <% } %>
                                                            <% if(product.color){ %>
                                                                <tr>
                                                                    <td>Color : </td>
                                                                    <td><%=product.color%></td>
                                                                </tr>
                                                            <% } %>
                                                            <% if(product.size){ %>
                                                                <tr>
                                                                    <td>Size : </td>
                                                                    <td><%=product.size%></td>
                                                                </tr>
                                                            <% } %>
                                                            
                                                        </tbody>
                                                    </table>

                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 1 ======-->


                                    <!--====== Tab 2 ======-->
                                    
                                    <!--====== End - Tab 2 ======-->


                                    <!--====== Tab 3 ======-->
                                    <div class="tab-pane" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <% if(reviews.length>0){ %>
                                                <div class="u-s-m-b-30">
                                                    <div class="pd-tab__rev-score">
                                                        <div class="u-s-m-b-8">
                                                            <h2><%= reviews.length %> Review(s) </h2>
                                                        </div>
                                                        <div class="gl-rating-style-2 u-s-m-b-8">
                                                            <% let j=product.rating %>
                                                                <% for(let i=1; i<=j ; i++){ %>
                                                                    <i class="fas fa-star"></i>
                                                                <%}%>
                                                        </div>
                                                        <div class="u-s-m-b-8">
                                                            <h4>We want to hear from you!</h4>
                                                        </div>

                                                        <span class="gl-text">Tell us what you think about this item</span>
                                                    </div>
                                                </div>
                                                <div class="u-s-m-b-30">
                                                    <form class="pd-tab__rev-f1">
                                                        <div class="rev-f1__group">
                                                            <div class="u-s-m-b-15">
                                                                <h2><%= reviews.length %> Review(s) for <%=product.productName%></h2>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="rev-f1__review">
                                                            <% reviews.forEach(review =>{ %>
                                                                <div class="review-o u-s-m-b-15">
                                                                    <div class="review-o__info u-s-m-b-8">

                                                                        <span class="review-o__name"><%= review.userId.userName %></span>

                                                                        <span class="review-o__date"><%= review.date %></span></div>
                                                                    <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                        <% let j=review.rating %>
                                                                        <% for(let i=1; i<=j ; i++){ %>
                                                                            <i class="fas fa-star"></i>
                                                                        <%}%>
                                                                        <% for(let k=5; k>j ; k--){ %>
                                                                            <i class="far fa-star"></i>
                                                                        <%}%>

                                                                        <span>(<%= review.rating %>)</span></div>
                                                                    <p class="review-o__text"><%= review.reviewDescription %></p>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    </form>
                                                </div>
                                            <% } %>
                                            <div class="u-s-m-b-30 reviewSection">
                                                <form id="review" style="display: flex; align-items: center; justify-content: center;" action="/review" method="post">
                                                    <div class="wrapper"> 
                                                        <div class="title">Rate your experience</div>
                                                        <div class="reviewcontent">We highly value your feedback! Kindly take a moment to rate your experience and provide us with your valuable feedback.</div>
                                                        <div class="rate-box">
                                                          <input type="radio" class="star" name="star" value="1" id="star0"/>
                                                          <label class="star" for="star0"></label>
                                                          <input type="radio" class="star" name="star" value="2" id="star1"/>
                                                          <label class="star" for="star1"></label>
                                                          <input type="radio" class="star" name="star" value="3" id="star2" checked="checked"/>
                                                          <label class="star" for="star2"></label>
                                                          <input type="radio" class="star" name="star" value="4" id="star3"/>
                                                          <label class="star" for="star3"></label>
                                                          <input type="radio" class="star" name="star" value="5" id="star4"/>
                                                          <label class="star" for="star4"></label>
                                                        </div>
                                                        <input id="productId" type="hidden" value="<%=product._id%>">
                                                        <textarea  id="reviewDescription" cols="30" rows="6" placeholder="Tell us about your experience!" required></textarea>
                                                        <% if(user){ %>
                                                            <button style="border: none;" class="submit-btn" type="submit">Send</button>
                                                        <% }else{ %>
                                                            <button style="border: none;" class="submit-btn not-user" type="submit">Send</button>
                                                        <% } %>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 3 ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="u-s-p-b-90">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">

                                <% avProducts.forEach(avProduct =>{ %>

                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/<%=avProduct.productName%>/<%=avProduct._id%>">

                                                <img class="aspect__img" src="<%= avProduct.productImagePath[3]%>" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick<%=avProduct._id%>" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                        <% if(user){ %>
                                                            <li>

                                                                <a class="cartAdd" href="<%=avProduct._id%>" data-modal="modal" data-modal-id="#cart<%=avProduct._id%>"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>

                                                                <a class="wishlistAdd" href="<%=avProduct._id%>"><i class="fas fa-heart"></i></a></li>
                                                        <% } else { %>
                                                            <li>
        
                                                                <a class="not-user" href="/login"><i class="fas fa-plus-circle"></i></a></li>
                                                            <li>
        
                                                                <a class="not-user" href="/login"><i class="fas fa-heart"></i></a></li>
        
                                                        <% } %>
                                                    
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html"><%=avProduct.category%> <%=avProduct.subCategory%></a></span>

                                        <span class="product-o__name">

                                            <a href="/product/<%=avProduct._id%>"><%=avProduct.productName%></a></span>
                                        <div class="product-o__rating gl-rating-style">
                                            
                                            <% let j=avProduct.rating %>
                                            <% for(let i=1; i<=j ; i++){ %>
                                                <i class="fas fa-star"></i>
                                            <%}%>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">₹<%=avProduct.newPrice%>.00

                                            <span class="product-o__discount">₹<%=avProduct.oldPrice%>.00</span></span>
                                    </div>
                                </div>

                                <% }) %>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->



        <!--====== Main Footer ======-->
        <%- include('layouts/footer.ejs') %>

        <!--====== Modal Section ======-->


        <%- include('layouts/quicklook.ejs') %>

        <%- include('layouts/addCart.ejs') %>

        <!--====== End - Modal Section ======-->
    </div>
    <!--====== End - Main App ======-->
    
<input type="hidden" id="login-location" value="/product/<%=product._id%>">

<%- include('layouts/loginSignUp.ejs') %>


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/client/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/client/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/client/js/app.js"></script>

    <script src="/client/js/product.js"></script>

    <script src="/client/js/loginSignUp.js"></script>



    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>