<!--====== Header Wrapper ======-->
<header class="header--style-1" >
    <!-- style="position: sticky; top: 0; overflow: hidden; z-index: 10;" -->
    <!--====== Nav 1 ======-->
    <nav class="primary-nav primary-nav-wrapper--border">
        <div class="container">

            <!--====== Primary Nav ======-->
            <div class="primary-nav">

                <!--====== Main Logo ======-->

                <a class="main-logo" href="" >

                    <img style="width: 17%; position: absolute; top: 40%; left: 1%;" src="/images/PurePicksPng.png" alt="logo"></a>
                <!--====== End - Main Logo ======-->


                <!--====== Search Form ======-->
                <form class="main-form">

                    <label for="main-search"></label>

                    <input class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search" placeholder="Search">

                    <button style="border: none; background: none;" class="main-search-button" id="main-search-button" ><i class="fas fa-search "></i></button>
                </form>
                <!--====== End - Search Form ======-->


                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">

                                <a><i class="far fa-user-circle"></i></a>

                                <!--====== Dropdown ======-->

                                <span class="js-menu-toggle"></span>
                                <ul style="width:120px">
                                    <% if(user){ %>
                                        <li>
    
                                            <a href="/account"><i class="fas fa-user-circle u-s-m-r-6"></i>
    
                                                <span>Account</span></a></li>
                                        <li>
            
                                            <a id="logout" href="/logout"><i class="fas fa-lock-open u-s-m-r-6"></i>
            
                                                <span>Logout</span></a></li>

                                    <% } else { %>
                                        <li>
    
                                            <a href="/signUp"><i class="fas fa-user-plus u-s-m-r-6"></i>
    
                                                <span>Sign Up</span></a></li>
                                        <li>
    
                                            <a href="/login"><i class="fas fa-lock u-s-m-r-6"></i>
    
                                                <span>Sign In</span></a></li>
                                    <% } %>
                                </ul>
                                <!--====== End - Dropdown ======-->
                            </li>
                            
                            <li data-tooltip="tooltip" data-placement="left" title="Contact">

                                <a href="tel:+919747323239"><i class="fas fa-phone-volume"></i></a></li>
                            <li data-tooltip="tooltip" data-placement="left" title="Mail">

                                <a href="mailto:purepicksonline@gmail.com"><i class="far fa-envelope"></i></a></li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 1 ======-->


    <!--====== Nav 2 ======-->
    <nav class="secondary-nav-wrapper">
        <div class="container">

            <!--====== Secondary Nav ======-->
            <div class="secondary-nav">

                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation1">
                    <!--====== Menu ======-->
                    
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->


                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation2">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                            <li>

                                <a class="<%= page === 'products' ? 'u-c-brand' : '' %>" href="/products">PRODUCTS</a></li>
                            <li>

                                <a href="/#newArrivals">NEW ARRIVALS</a></li>
                            
                            
                            <!-- <li>

                                <a href="/#valueOfTheDay">VALUE OF THE DAY</a></li> -->
                            <li>
                                <a class="<%= page === 'about' ? 'u-c-brand' : '' %>" href="/about">ABOUT US</a></li>
                            <li>

                                <a href="#contact-form">CONTACT US</a></li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->


                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation3">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop" type="button"></button>
                    
                    <% if(cartLength>0){ %>
    
                        <span class="total-item-round"><%= cartLength %></span>
                        
                    <% } %>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li>

                                <a href="/"><i class="fas fa-home <%= page === 'home' ? 'u-c-brand' : '' %>"></i></a></li>
                                <% if(user){ %>
                                    <li>
        
                                        <a href="/wishlist"><i class="far fa-heart <%= page === 'wishlist' ? 'u-c-brand' : '' %>"></i></a></li>
                                    <li class="has-dropdown">
                                        <a class="mini-cart-shop-link" href="/cart"><i class="fas fa-shopping-bag <%= page === 'cart' ? 'u-c-brand' : '' %>"></i>
                                            <% if(cartLength>0){ %>
                                            
                                            <span class="total-item-round"><%= cartLength %></span>
                                            
                                            <% } %>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li>
        
                                        <a class="not-user" href="/wishlist"><i class="far fa-heart"></i></a></li>
                                    <li>
                                    
                                        <a class="not-user" href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
                                <% } %>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Secondary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 2 ======-->
</header>
<!--====== End - Header Wrapper ======-->